.notifications {
  position: fixed;
  top: 0;
  // left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 1111;
  .alert {
    color: #ffffff;
    background-color: #2aabfe;
    border-color: #2aabfe;
    font-family: $body-font-family;
    font-weight: normal;
    margin: 1rem 0;
  }
}
